<script src="javascripts/nav.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/nav.css">

<div id="nav">
<div id="navtext">click me to navigate</div>
</div>

<div id="navcontent">
	<a href="/"><span id="textb">home</span></a>
	<a href="contestrules">contest <span id="textb">rules</span></a>
	<a href="ourstory">our <span id="textb">story</span></a>
	<div id="enter"><a href="404">I want to enter!</a></div>

	<div id="clickme">
		collapse menu
	</div>
</div>