<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div id="header"></div>
<div id="headertext">{{{_sections.title}}}</div>
<div id="subtitle">ANOTHER UNIVERSE FANFICTION COMPETITION</div>

{{> nav}}

<div id="content">
{{{body}}}
</div>


<link rel="stylesheet" type="text/css" href="stylesheets/contentstyle.css">
<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="javascripts/contentjquery.js"></script>
</body>
</html>