<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/homestyle.css">
<link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="javascripts/homejquery.js"></script>
<title>Home</title>
</head>
<body>
<div id="header"></div>
<div id="header-backing"></div>
<div id="headertext">another <span id="textb">universe</span></div>
<div id="subtitle">FANFICTION COMPETITION</div>
<a href="enter"><div id="button">I want to enter!</div></a>
<div id="banner">In another universe, you choose how it ends.</div>

{{> nav}}

<div id="content">
{{{body}}}
</div>

</body>
</html>